<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Juan Pablo Vargas Hernandez">
    <meta name="description" content="Distribuidora de viveres en general">
    <meta name="keywords" lang="es" content="Viveres, surtiveres la sabana sas, surtiviveres, sabana, abarrotes, comestibles, productos de aseo, licores, dulceria, dulces">
    <title>Surtiviveres La Sabana</title>
    <!-- fontawesome iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <!-- fuente de la pagina-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <!-- icono de la pestaña de la página -->
    <link rel="icon" href="../IMAGES/logo4.png" style="width: 100px;">
    <!--llamado hoja de estilos-->
    <link rel="stylesheet" href="../STYLES/estilos.css">
</head>
<body>
    <!--contenedor-->
    < class="container">
        <!--barra de navegacion-->
        <nav class="nav-main" id="nav-main">
            <img src="../IMAGES/logo4.png" alt="Surtiviveres Logo" class="nav-brand">
            <ul class="nav-menu">
                <li>
                    <a href="#showcase">Inicio</a>
                </li>
                <li>
                    <a href="#nosotros" class="nhistoria">Nosotros</a>
                </li>
                <li>
                    <a href="#">Catálogo</a>
                </li>
                <li>
                    <a href="#formulario">Contáctenos</a>
                </li>
            </ul>
            <ul class="nav-menu-rigth">
                <li>
                    <a href="#">
                        <i class="fas fa-search"></i>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- seccion de inicio -->
        <section class="showcase" id="showcase">
            <div class="capa">
                <div class="info">
                    <center>
                        <h1>¡Bienvenidos a nuestro sitio oficial!</h1>
                        <p>Te invitamos a que explores nuestra página y conozcas nuestro catálogo</p>
                        <a href="#nosotros">Ver mas >></a>
                    </center>
                </div>
            </div>
        </section>

        <!-- seccion nosotros -->
        <section class="nosotros" id="nosotros">
            <h2>NOSOTROS</h2>
            <div class="nosotros-h">
                <div class="caja">
                    <h3>¿Quienes Somos?</h3>
                    <p>Somos una empresa familiar dedicada a la distribución de viveres, abarrotes, dulceria, licorería y productos de aseo.</p>
                </div>
                <div class="caja">
                    <h3>Lo que nos diferencia</h3>
                    <p>Las mejores opciones de precios parati !! Descuentos tanto para mayoristas como para minoristas</p>
                </div>
                <div class="caja">
                    <h3>¿Donde encontrarnos?</h3>
                    <p>Encuentranos en la central de abastos de bogotá. Carrera 80 # 2-51 sur Bodega 35 local 146. Al lado de la salida 5 de la central</p>
                </div>
                <div class="caja">
                    <h3>Formas de pago</h3>
                    <p>Tenemos diversas opciones de pago para ti:</p>
                    <ul class="fpago">
                        <li class="pago"><b>Transferencia Bancaria</b>,</li>
                        <li class="pago"><b>Nequi</b>,</li>
                        <li class="pago"><b>Daviplata</b>,</li>
                        <li class="pago"><b>Tarjetas debito o credito</b>,</li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- seccion contactanos -->
        <form action="" class="formulario" id="formulario">
            <h3>CONTÁCTENOS</h3>
            <h4>¡Escríbenos un mensaje!</h4>
            <input type="text" placeholder="Nombre:" required>
            <input type="email" name="email" id="email" required placeholder="Correo:">
            <textarea name="mensaje" id="mensaje" placeholder="Mensaje:"></textarea>
            <input type="submit" value="Enviar" id="btnEnviar" onclick="mensaje()">
            <div class="atencion-padre">
                <h4>ó utiliza nuestras lineas de atención</h4>
                <div class="atencion-hijo">
                    <h5>Atención al cliente</h5>
                    <p><i class="fa-brands fa-whatsapp"></i> 318-264-1853</p>
                    <p>Jesus Alberto Vargas - Gerente General</p>
                    <p><i class="fa-brands fa-whatsapp"></i> 315-298-7041</p>
                    <p>Olga Patricia Hernandez - Rep.Legal</p>
                </div>
                <div class="atencion-hijo">
                    <h5>Facturación Electrónica</h5>
                    <p><i class="fa-brands fa-whatsapp"></i> 318-625-9804</p>
                    <p>Juan Pablo Vargas - Director Depto.Sistemas</p>
                </div>
                <div class="atencion-hijo">
                    <h5>Recursos Humanos</h5>
                    <p><i class="fa-brands fa-whatsapp"></i> 318-406-1852</p>
                    <p>Andres Felipe Vargas - Director Depto.Recursos Humanos</p>
                </div>
            </div>
        </form>
        
        <!-- pie de pagina -->
        <footer class="footer">
            <p>Página Web Desarrollada por: Juan Pablo Vargas Hernandez</p>
            <p>FullStack Developer</p>
            <p>Todos los derechos reservados</p>
            <p>Contácteme: 318-625-9804</p>
        </footer>
    </div>

    <!-- llamado de los scripts -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../SCRIPTS/funciones.js"></script>
</body>
</html>