<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Surtiviveres La Sabana</title>
    <!-- fontawesome iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <!-- fuente de la pagina-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">

    <!-- icono de la pestaña de la página -->
    <link rel="icon" href="../IMAGES/logo4.png" style="width: 100px;">
    <!--llamado hoja de estilos-->
    <link rel="stylesheet" href="../STYLES/estilos.css">
</head>
<body>
    
    <!--contenedor-->
    <div class="container">
        <!--barra de navegacion-->
        <nav class="nav-main">
            <img src="../IMAGES/logo4.png" alt="Surtiviveres Logo" class="nav-brand">
            <ul class="nav-menu">
                <li>
                    <a href="#">Inicio</a>
                </li>
                <li>
                    <a href="#">Catálogo</a>
                </li>
                <li>
                    <a href="#">Nuestra Historia</a>
                </li>
                <li>
                    <a href="#">Contáctenos</a>
                </li>
            </ul>
            <ul class="nav-menu-rigth">
                <li>
                    <a href="#">
                        <i class="fas fa-search"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</body>
</html>